body{
    background-color: rgb(27, 26, 26);
    margin:0px
}
nav a {
    margin-top: 5px;
    padding: 2px;
    font-size:20px;
    text-decoration: none;
    color: rgba(red, green, blue, alpha)
}

p {
    color: rgb(240, 235, 235);
}

.giovanna {
    font-style: italic;
}

h1 {
    text-align: center;
}

.img1 {
    width: 50%;
}